
body {
    background-color: rgb(230, 186, 189);
}

h1 {
    background-color: aqua;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    color: rgb(192, 50, 50);
    text-shadow: 2px 2px 5px rgb(255, 255, 255);
}

h2 {
    background-color: aqua;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    color: rgb(192, 50, 50);
    text-shadow: 2px 2px 5px rgb(22, 20, 20);
}

.container {
    width: 80%;
    margin: 20px auto;
}

.container .content {
    width: 40%;
    float: left;
    margin: 5px;
    background-color: aqua;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color: rgb(22, 19, 19);
}

img {
    float: right;
    width: 500px;
    height: 300px;
}

p {
    float: left;
    font-weight: bold;
    font-size: 20px;
    color: rgb(22, 19, 19);
    text-shadow: 2px 2px 5px rgb(32, 74, 130);
}

.video {
    width: 40%;
    margin: 5px;
    background-color: aqua;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color: rgb(22, 19, 19);
    text-shadow: 2px 2px 5px rgb(255, 255, 255);
}

.click {
    width: 40%;
    margin: 5px;
    background-color: aqua;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color: rgb(22, 19, 19);
}
